{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S.A. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like
          <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address"
            placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <!-- TODO: Display parsed address components here. -->
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <div id="test"></div>
          <thead id="results-table">
            <tr>
              <th id="address-part">Address part</th>
              <th id="address-tag">Tag</th>
              
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

  // Function for dumping the JSON content for each button into the div
  function submitAddress() {


    var address = $("#address").val();
    var queryURL = "api/parse?address=" + address

    $.ajax({
      url: queryURL,
      method: "GET"
    }).then(function (response) {
      // alert(response)
      console.log(response)
      $("#address-results").show()
      $("#parse-type").append(JSON.stringify(response[1]))

      // create doc fragments for each piece of the table
      let tableFragment = document.createDocumentFragment();
      // let partsFragment = document.createDocumentFragment();
      

      // let addressParts = document.createElement('th');
      // let tags = document.createElement('th');
      

      Object.keys(response[0]).map(entry => {

        let tableRow = document.createElement('tr');
        let addressPart = document.createElement('td');
        let tag = document.createElement('td');
        

        addressPart.textContent = entry;
        tag.textContent = response[0][entry];

        

        // addressParts.append(addressPart);
        // tags.append(tag);
        tableRow.append(tag)
        tableRow.append(addressPart)
        tableFragment.appendChild(tableRow)

      });

      // tagFragment.append(tags);
      // partsFragment.append(addressParts)

      document.querySelector('#results-table').append(tableFragment);
      // document.querySelector('#address-tag').append(partsFragment);

    });
    console.log(address)
  }

  $("#submit").click(function () {
    event.preventDefault()
    submitAddress();
  });

    // Function for displaying movie data

</script>
{% endblock %}